body {
  font-family: "Kelly Slab", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

section {
  padding: 50px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 34px;
    margin: 0 0 20px; }
  section .personal_header {
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
    color: #555; }
  section h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 35px; }

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-bottom: 130px; }
    .s_descr_wrap .s_descr::after {
      content: "";
      width: 150px;
      height: 1px;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px; }

.main_head {
  min-height: 720px;
  padding: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 260px;
  width: 260px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 20px; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 34px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 7.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 15px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 10px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 7px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 120px;
    text-align: center; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 12px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.top_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  overflow: auto; }
  .top_wrapper .top_text {
    display: inline-block;
    text-align: center; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.3em;
      -webkit-animation-delay: 1.4s;
      -moz-animation-delay: 1.4s;
      animation-delay: 1.4s; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 30px;
      color: #fff;
      border: 8px solid #fff;
      text-transform: uppercase;
      font-size: 2.8em;
      margin-left: 20px;
      margin-right: 20px; }

.toggle_mnu {
  background-color: #000; }

.h_opacity {
  opacity: 0.2;
  -webkit-transition: all2s ease;
  -moz-transition: all2s ease;
  transition: all2s ease; }

.main_footer {
  padding: 50px 0;
  font-size: 12px; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 280px;
    display: inline-block;
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {
  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  font-size: 25px;
  padding: 0 3px; }

.section_content .left {
  text-align: right;
  border-right: #d2d2d2 1px solid; }
  .section_content .left h3 {
    text-align: right; }

.section_content .right {
  text-align: right; }
  .section_content .right h3 {
    text-align: left; }

.s_galery ul,
.s_galery li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
.s_galery li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer; }
.s_galery ul {
  margin-bottom: 50px; }

#galery_grid .mix {
  display: none; }

.galery_item {
  padding: 0; }
  .galery_item img {
    width: 100%; }

.port_item_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 15%;
  transition: all 0.5s;
  opacity: 0; }
  .port_item_cont:hover {
    opacity: 1;
    padding-top: 20%; }
  .port_item_cont a {
    margin-bottom: 0;
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block; }

.gal_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .gal_descr p,
  .gal_descr h3 {
    padding: 20;
    padding-bottom: 0; }
  .gal_descr h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px; }
  .gal_descr p {
    margin-top: 0; }
  .gal_descr img {
    width: 100%;
    margin-top: 20%; }

/*# sourceMappingURL=main.css.map */
